datasets/*
!datasets/train_full.csv
!datasets/test.csv
*.html
lightning_logs/
__pycache__/
todos.md
*.egg-info
results/
predictions/
!predictions/sample_submission.csv
notebooks/playground.ipynb
mlruns/